* {
  box-sizing: border-box;
}

nav {
  background-color: #944A09;
  font-size: 30px;
}
li a {
  padding: 50px;
  color: #b38346;
  text-decoration: none;
}
li a:hover {
  background-color: #592d08;
}
a {
  display: block;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
body {
  background-color: #f2ab63
}
p {
  color: #633a0f;
  font-size: 25px;

}
h1 {
  color: #633a0f;
}
h2 {
  color: #633a0f;
}

h3 {
  color: #633a0f;
}

header {

}
img {
  width: 20vw;
  border-style: solid;
    border-color: #633a0f;
    border-width: 5px;
    border-radius: 5px;

}
