/* Universal */
* {
  box-sizing: border-box;
}

/* Footer */
footer {
  color: #633a0f;
}

/* Navigation Start */

nav {
  background-color: #944A09;
  font-size: 30px;
}

li a {
  padding: 50px;
  color: #b38346;
  text-decoration: none;
}

li a:hover {
  background-color: #592d08;
}

a {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

/* Navigation End */

/* Main Start */

body {
  background-color: #f2ab63;
}

p {
  color: #633a0f;
  font-size: 25px;

}
h1 {
  color: #633a0f;
}

h2 {
  color: #633a0f;
}

h3 {
  color: #633a0f;
}

img {
  width: 20vw;
  border-style: solid;
    border-color: #633a0f;
    border-width: 5px;
    border-radius: 5px;
}

.main {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.maingallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.hidden {
  color:#f2ab63;
}

/* Main End */

/* Media Query Start */

/* Phones Start */

 @media only screen and (min-width: 0px) and (max-width: 700px) {
   ul {
     list-style-type: none;
     display: flex;
     flex-direction: column;
     padding-left: 0px;
   }

   li a {
     padding: 25px;
     color: #b38346;
     text-decoration: none;
   }

   h1 {
     color: #633a0f;
     display: flex;
     justify-content: center;
   }

   h2 {
     color: #633a0f;
     display: flex;
     justify-content: center;
   }

   h3 {
     color: #633a0f;
     display: flex;
     justify-content: center;
   }

   img {
     width: 20vw;
     border-style: solid;
       border-color: #633a0f;
       border-width: 5px;
       border-radius: 5px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 45%;
   }

   .maingallery {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto;
   }
}

/* Phones End */

/* Tablets Start */

@media only screen and (min-width: 700px) and (max-width: 900px) {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  li a {
    padding: 25px;
    color: #b38346;
    text-decoration: none;
  }
}

/* Tablets End */

/* Media Query End */
